<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinHider.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WinHider.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WinHider.AppSettings>
            <setting name="UpgradePending" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Main_Location" serializeAs="String">
                <value>400, 200</value>
            </setting>
            <setting name="Main_Size" serializeAs="String">
                <value>400, 200</value>
            </setting>
            <setting name="Config_ShowInvisibleWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Config_ShowUntitledWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Config_ListColumns" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>WINDOWTITLE</string>
                        <string>PROCESSNAME</string>
                        <string>STATE</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Config_ColumnWidths" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>180</string>
                        <string>90</string>
                        <string>90</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Config_ShowApplicationIcons" serializeAs="String">
                <value>True</value>
            </setting>
        </WinHider.AppSettings>
        <WinHider.Properties.Settings>
            <setting name="Main_Location" serializeAs="String">
                <value>400, 200</value>
            </setting>
            <setting name="Main_Size" serializeAs="String">
                <value>400, 200</value>
            </setting>
            <setting name="UpgradePending" serializeAs="String">
                <value>True</value>
            </setting>
        </WinHider.Properties.Settings>
    </userSettings>
</configuration>